---
-   name: Get facts by tags
    azure_rm_virtualmachine_info:
        resource_group: "{{ resource_group }}"
    delegate_to: localhost
    register: az_facts


-   name: Display all variables/facts known for a host
    debug:
        var: az_facts


- name: add instance to hosts
  ansible.builtin.add_host:
    # inventory hostname (so plays can target "database", "appserver1", etc.)
    name: "{{ item.name | regex_replace('-VM$', '') }}"

    # actual address to SSH to
    ansible_host: "{{ item.tags.PublicIP }}"

    groups:
      - "{{ item.tags.Type }}"
      - devops

    iname: "{{ item.name | regex_replace('-VM$', '') }}"
    itype: "{{ item.tags.Type }}"

    # pick user based on phase
    ansible_user: "{{ bootstrap_user if (phase | default('deploy')) == 'bootstrap' else server_user }}"
    ansible_ssh_private_key_file: "{{ ansible_ssh_private_key_file }}"
  loop: "{{ az_facts.vms }}"
  when:
    - item.tags is defined
    - item.tags.PublicIP is defined
    - item.tags.StudentId is defined
    - item.tags.StudentId == vmtags.StudentId
    - item.tags.Stack is defined
    - item.tags.Stack == "microblog"
    - item.power_state == "running"

-   name: Display all variables/facts known for a host
    debug:
        var: hostvars