name: Deployment

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  tests:
    runs-on: ubuntu-latest

  build-and-push:
    runs-on: ubuntu-latest
    needs: [tests]
    permissions:
      contents: read
      packages: write

    outputs:
      image: ${{ steps.out.outputs.image }}
      version: ${{ steps.out.outputs.version }}

    steps:
      - uses: actions/checkout@v4

      - name: Set version from tag
        run: echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ env.VERSION }}

      - name: Output image
        id: out
        run: |
          echo "image=ghcr.io/${{ github.repository }}:${{ env.VERSION }}" >> $GITHUB_OUTPUT
          echo "version=${{ env.VERSION }}" >> $GITHUB_OUTPUT

  deploy:
    runs-on: ubuntu-latest
    needs: [build-and-push]
    steps:
      - uses: actions/checkout@v4

      - name: Install deploy deps (Ansible + Galaxy)
        run: make install-deploy

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.PROD_SSH_PRIVATE_KEY }}

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy (rolling)
        env:
          ANSIBLE_HOST_KEY_CHECKING: "false"
        run: |
          make cd IMAGE=${{ needs.build-and-push.outputs.image }} \
                  VERSION=${{ needs.build-and-push.outputs.version }}
