name: Deploy Microblog

on:
  push:
    tags:
      - "v*.*.*" # build+push on version tags

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
