name: CD

on:
  push:
    branches:
        [feature/cd]
    # tags:
    #   - "v*.*.*" # build+push on version tags

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile_prod
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/microblog:${{ github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/microblog:latest
